header{
    background-color: rgb(255, 234, 112);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

body{
    color: rgb(255, 234, 112);
    background-image: linearǵradient(to right, rgb(255, 234, 112), white)
    text-align: justify;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
}

footer{
    text-align: center;
}

.imagem{
    text-align: center;
}

.botao{
    border-radius: 15px;
}

.titulo{
    text-align: center;
}